.footer-bar-1 {
  background-color: #007B71;
  height: 30px;
}

.footer-bar-2 {
  background-color: #013741;
  display: flex;
  justify-content: center; /* Alinhar horizontalmente ao centro */
  align-items: center;
  padding: 1rem;
}

.footer-image {
  max-width: 100%;
  height: auto; /* Garantir que a imagem seja responsiva */
}

.footer-bar-3 {
  background-color: #001215;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 14px;
}
