/* Header.css */
.header {
  background: linear-gradient(to right, #008D84, #019A85, #00464E);
  position: relative;
}

.menu-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.header nav {
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}

.header nav.open {
  transform: translateY(0);
}

/* Estilos existentes ... */

@media screen and (min-width: 600px) {
  .menu-icon {
    display: none;
  }

  .header nav {
    transform: none !important;
  }
}
